body{
  margin: 0;
  
}


.list{
  

  position: relative;
  margin: 10px  auto;
  padding: 10px;
  background-color: rgb(144, 190, 229);
  width: 40%;
  height: 30px;
  border-radius: 10px;
  
  
}
.icons{
  position: relative;
  float: right;
  margin-right: 1px;
}
.inputf{
  position: relative;
  margin: auto;
  background-color: rgb(144, 190, 229);
  width: 40%;
  height: 35px;
  border-radius: 10px;
  padding: 10px;
}
.inputf input{
  width: 80%;
  height: 30px;
  border: 3px solid rgb(76, 123, 225);
  background-color: rgb(144, 190, 229);
  border-radius: 5px;
 outline: none;
 font-size: 15px;
}
.inputf button{
  width: 15%;
  float: right;
  height: 38px;
  background-color :rgb(76, 123, 225);
  border-radius: 5px ;
  border: none;
  color: aliceblue;
  font-size: 15px;

}
.noclick{
  color: aliceblue;
}
.click{
  color:'blue';
}
